<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
